<!-- parent template  -->
<!DOCTYPE html>  <!-- this is just a declaration which tells the browser the version of html being used   -->
<html>
<head>

<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<title> myblogtitle</title>
</head>

<body style="background-color:snow" leftmargin="70px" topmargin="70px" marginwidth="55px" marginheight="65px">
<div style="color:#8B008B" class="container">

<h1 align="center"> WELCOME TO MY DJANGO BLOG PAGE </h1>
<h5 align="right"> use username:  frank   password: frank  to test the system  </h5>
<a href="/reg/logout" >
<h2>Click to Logout</h2>
</a> 
<div style="color:#808080 ">
<h5> The link below is accessible to both registered users and anonymous users  </h5>
</div>
<a href="/blog/posts" >
<h2>link to myblogtitle</h2>
</a>

<!-- <img src="/blog/a.gif" alt=" designer's face" height="576" width="576" /> --> 

<div style="color:#8B0000" id="content">

{% block content %}

{% endblock %}

</div>

</div>
<div id="footer" align="center" class= "footerIEPadder">
&copy; DESIGNED BY OMARI WILLIAM KWADWO. All Rights Reserved
<h6> Copyright 2012 </h6>
</div>

</body>
</html>

 


	
